@model AE_Projet.Models.Professeur

@{
    Layout = "_LayoutAdmin";
}
<section class="categories-section spad">
    <div class="container">
        <div class="section-title">
            <h2>Ajouter Professeur</h2>
        </div>
        <form asp-action="AjtProf">
            <div class="formulaire">
                <div asp-validation-summary="ModelOnly" class="text-danger">Nom</div>
                <div class="form-group">
                    <label asp-for="Nom_Prof" class="control-label"></label>
                    <input asp-for="Nom_Prof" class="form-control" />
                    <span asp-validation-for="Nom_Prof" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Prenom_Prof" class="control-label">Prenom</label>
                    <input asp-for="Prenom_Prof" class="form-control" />
                    <span asp-validation-for="Prenom_Prof" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="CIN_Prof" class="control-label">CIN</label>
                    <input asp-for="CIN_Prof" class="form-control" />
                    <span asp-validation-for="CIN_Prof" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Email_Prof" class="control-label">E-mail</label>
                    <input asp-for="Email_Prof" class="form-control" />
                    <span asp-validation-for="Email_Prof" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Mdp" class="control-label">Mot de passe</label>
                    <input asp-for="Mdp" class="form-control" />
                    <span asp-validation-for="Mdp" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <a asp-action="IndexProf" class="btn btn-danger">Annuler</a>
                    <input type="submit" value="Ajouter" class="btn btn-primary" />

                </div>
            </div>
        </form>
    </div>
</section>
