@{
    Layout = "_LayoutAdmin";
}
<section class="categories-section spad">
    <div class="container">
        <div class="row" id="categorie">
            <!-- categorie -->
            <div class="col-lg-4 col-md-6">
                <div class="categorie-item">
                    <div class="ci-thumb set-bg"  data-setbg="../Content/img/categories/1.jpg"></div>
                    <div class="ci-text">
                        <a asp-action="IndexEtd" id="lien">Etudiant</a>
                    </div>
                </div>
            </div>
            <!-- categorie -->
            <div class="col-lg-4 col-md-6">
                <div class="categorie-item">
                    <div class="ci-thumb set-bg" data-setbg="../Content/img/categories/2.jpg"></div>
                    <div class="ci-text">
                        <a asp-action="IndexProf" id="lien">Professeur</a>
                    </div>
                </div>
            </div>
            <!-- categorie -->
            <div class="col-lg-4 col-md-6">
                <div class="categorie-item">
                    <div class="ci-thumb set-bg" data-setbg="../Content/img/categories/3.jpg"></div>
                    <div class="ci-text">
                        <a asp-action="IndexSea" id="lien">Seance</a>
                    </div>
                </div>
            </div>
            <!-- categorie -->
            <div class="col-lg-4 col-md-6">
                <div class="categorie-item">
                    <div class="ci-thumb set-bg" data-setbg="../Content/img/categories/4.jpg"></div>
                    <div clasp-action="IndexMat" id="lien">
                        <a asp-action="IndexMat" id="lien"> Matière</a>
                    </div>
                </div>
            </div>
            <!-- categorie -->
            <div class="col-lg-4 col-md-6">
                <div class="categorie-item">
                    <div class="ci-thumb set-bg" data-setbg="../Content/img/categories/5.jpg"></div>
                    <div class="ci-text">
                        <a asp-action="IndexF" id="lien">Filière</a>
                    </div>
                </div>
            </div>
            <!-- categorie -->
            <div class="col-lg-4 col-md-6">
                <div class="categorie-item">
                    <div class="ci-thumb set-bg" data-setbg="../Content/img/categories/6.jpg"></div>
                    <div class="ci-text">
                        <a asp-action="IndexSa" id="lien">Salle</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="categorie-item">
                    <div class="ci-thumb set-bg" data-setbg="../Content/img/categories/6.jpg"></div>
                    <div class="ci-text">
                        <a asp-action="IndexAdmin" id="lien">Administration</a>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>
