@model AE_Projet.Models.Filiere



@{
    Layout = "_LayoutAdmin";
}

<section class="categories-section spad">
    <div class="container">
        <div class="section-title">
            <h2>Modifier Filiere</h2>
        </div>
        <form asp-action="MdfF">
            <div class="formulaire">
                <div class="form-group">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <input type="hidden" asp-for="Id_Filiere" />
                    <label asp-for="Nom_Filiere" class="control-label">Nom filiere</label>
                    <input asp-for="Nom_Filiere" class="form-control" />
                    <span asp-validation-for="Nom_Filiere" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <a asp-action="IndexF" class="btn btn-danger">Annuler</a>
                    <input type="submit" value="Sauvgarde" class="btn btn-primary" />
                </div>
            </div>
        </form>
    </div>
</section>


