@model AE_Projet.Models.Matiere


@{
    Layout = "_LayoutAdmin";
}
<section class="categories-section spad">
    <div class="container">
        <div class="section-title">
            <h2>Modifier Matiere</h2>
        </div>
        <form asp-action="MdfMat">
            <div class="formulaire">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="Id_Matiere" />
                <div class="form-group">
                    <label asp-for="Nom_Matiere" class="control-label">Nom Matiere</label>
                    <input asp-for="Nom_Matiere" class="form-control" />
                    <span asp-validation-for="Nom_Matiere" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="professeur.Nom_Prof" class="control-label">Nom de Professeur</label>
                    <select asp-for="Id_Prof" class="form-control" asp-items="ViewBag.Nom_Prof"></select>
                    <span asp-validation-for="professeur.Nom_Prof" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <a asp-action="IndexMat" class="btn btn-danger">Annuler</a>
                    <input type="submit" value="Sauvgarde" class="btn btn-primary" />
                </div>
            </div>
        </form>
    </div>
</section>
