@model AE_Projet.Models.Seance
@{
    Layout = "_LayoutAdmin";
}

<section class="categories-section spad">
    <div class="container">
        <div class="section-title">
            <h2>Modifier Seance</h2>
        </div>
        <form asp-action="MdfSea">
            <div class="formulaire">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="Id_Seance" />
                <div class="form-group">
                    <label asp-for="filiere.Nom_Filiere" class="control-label">Filiere</label>
                    <select asp-for="Id_Filiere" class="form-control" asp-items="ViewBag.Nom_Filiere"></select>
                    <span asp-validation-for="filiere.Nom_Filiere" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="salle.Nom_Salle" class="control-label">Salle</label>
                    <select asp-for="Id_Salle" class="form-control" asp-items="ViewBag.Nom_Salle"></select>
                    <span asp-validation-for="salle.Nom_Salle" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Heure_D" class="control-label">Heure Debut</label>
                    <input asp-for="Heure_D" class="form-control" />
                    <span asp-validation-for="Heure_D" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Heure_F" class="control-label">Heure Fin</label>
                    <input asp-for="Heure_F" class="form-control" />
                    <span asp-validation-for="Heure_F" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="matiere.Nom_Matiere" class="control-label">Matiere</label>
                    <select asp-for="Id_Matiere" class="form-control" asp-items="ViewBag.Nom_Matiere"></select>
                    <span asp-validation-for="matiere.Nom_Matiere" class="text-danger"></span>
                </div>
                <div>
                    <a asp-action="IndexSea" class="btn btn-danger">Annuler</a>
                    <input type="submit" value="Sauvgarde" class="btn btn-primary" />
                </div>
            </div>
        </form>
    </div>
</section>